# Backend
agenda-backend/venv/
agenda-backend/__pycache__/
agenda-backend/**/__pycache__/
agenda-backend/.env
agenda-backend/*.sqlite3
agenda-backend/credenciales_reseteo.txt

# Frontend
agenda-frontend/node_modules/
agenda-frontend/dist/
agenda-frontend/.env

# General
.DS_Store
*.log
